<div class="mdl-textfield mdl-js-textfield version-textfield">
  <input class="mdl-textfield__input" type="text" id="old" ng-model="versionInputField.uploader.oldVersion">
  <label class="mdl-textfield__label" for="sample1">RHEL6.6</label>
</div>

<span class="vs-text">vs</span>

<div class="mdl-textfield mdl-js-textfield version-textfield">
  <input class="mdl-textfield__input" type="text" id="new" ng-model="versionInputField.uploader.newVersion">
  <label class="mdl-textfield__label" for="sample1">RHEL6.7</label>
</div>
