<div class="nav-toggle-button-container">
  <div class="nav-toggle-button" ng-class="{'open': !vm.appStatus.isFullScreenMode}" ng-click="vm.onDrawerButtonClicked()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<!--
<div class="toggle-button mdl-layout__drawer-button" ng-click="vm.onDrawerButtonClicked()">
  <i class="material-icons">menu</i>
</div>
-->

<div class="mdl-layout__header-row">
  <!-- Title -->
  <span class="mdl-layout-title mdl-badge" data-badge="VR">Verification Report</span>
  <!-- Add spacer, to align navigation to the right -->
  <nav class="mdl-navigation mdl-layout--large-screen-only">
    <a class="mdl-navigation__link" href="#">About</a>
    <uploader-modal-link></uploader>
  </nav>
  <!-- Add spacer, to align navigation to the right -->
  <div class="mdl-layout-spacer"></div>
  <!-- Navigation. We hide it in small screens. -->
</div>
