<div class="chart-card mdl-card mdl-shadow--2dp" in-view="chartContainer.render($inview, $inviewpart)">
  <div class="chart-card-title">
    {{chartContainer.title}}
  </div>
  <hr class="chart-card-title-bottom-line">
  <div class="chart-card-tab">
    <div class="chart-card-tab-item chart-card-tab-item-active">
      1CPU
    </div>
    <div class="chart-card-tab-item">
      4CPU
    </div>
    <div class="chart-card-tab-item">
      8CPU
    </div>
  </div>

  <div class="chart-card-body-container">
    <div class="chart-card-body">
      <div ng-repeat="(group, items) in chartContainer.dataSources" class="chart-card-grid" group="{{group}}" ng-class="{'no-border': $last}">
        <div class="chart-card-grid-row chart-row">
          <div ng-repeat="item in items" class="chart-grid-row-item">
            <chart dataSource="{{item}}"></chart>
          </div>
        </div>
        <div class="chart-card-grid-row table-row">
          <detail category="{{chartContainer.category}}" group="{{group}}"></detail>
        </div>
      </div>
    </div>
  </div>
</div>
