.chart-card {
  width: 100%;
  margin-bottom: 5px;

  .mdl-card__actions {
    text-align: center;
  }

  .chart-card-title {
    text-align: center;
    font-family: 'Helvetica Neue', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro';
    font-size: 20px;
    line-height: normal;
    padding: 10px;
    color: #424242;
    background-color: #fafafa;
  }

  .chart-card-body-container {
    width: 100%;
  }

  .chart-card-body {
    min-height: 500px;
  }

  &-grid {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    overflow: auto;

    &-row {
      width: auto;
    }
    border-bottom: solid 1px rgba(0,0,0,.12);
  }

  .chart-card-title-bottom-line {
    margin: 0px;
  }
}

.no-border {
  border-bottom: none;
}
