.chart-card {
  width: 100%;
  margin-bottom: 5px;

  .mdl-card__actions {
    text-align: center;
  }

  .chart-card-title {
    text-align: center;
    font-family: 'Helvetica Neue', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro';
    font-size: 20px;
    line-height: normal;
    padding: 10px;
    color: #424242;
    background-color: #fafafa;
  }

  .chart-card-body-container {
    width: 100%;
    overflow: scroll;
  }

  .chart-card-body {
    width: 1280px;
    min-width: 1280px;
  }

  .chart-card-title-bottom-line {
    margin: 0px;
  }
}
