<div class="chart-card mdl-card mdl-shadow--2dp" in-view="chartContainer.render($inview, $inviewpart)">
  <div class="chart-card-title">
    {{chartContainer.title}}
  </div>
  <hr class="chart-card-title-bottom-line">
  <div class="chart-card-tab" ng-class="{'chart-card-tab-fixed': chartContainer.tabFixed && chartContainer.isActive, 'full-width': chartContainer.appStatus.isFullScreenMode}">
    <div ng-repeat="tab in chartContainer.tabs">
      <div class="chart-card-tab-item" ng-click="chartContainer.onChartCardTabItemClicked(tab)" ng-class="{'chart-card-tab-item-active': chartContainer.isActiveTab(tab)}">
        {{tab}}
      </div>
    </div>
  </div>

  <div class="chart-card-body-container">
    <div class="chart-card-body">

      <div ng-repeat="tab in chartContainer.tabDataSourceKeys" ng-class="{hide: !chartContainer.isActiveTab(tab) && !chartContainer.appStatus.requiresFullRender}">
        <div ng-repeat="group in chartContainer.getGroups(tab)" class="chart-card-grid" group="{{::group}}" ng-class="{'no-border': $last}">
          <div class="chart-card-grid-row chart-row">
            <div ng-repeat="itemId in chartContainer.getItemIds(tab, group)" class="chart-grid-row-item">
              <chart dataId="{{::chartContainer.dataId}}" tab="{{::tab}}" group="{{::group}}" itemId="{{::itemId}}"></chart>
            </div>
          </div>
          <div class="chart-card-grid-row table-row">
            <detail dataId="{{::chartContainer.dataId}}" category="{{::chartContainer.category}}" group="{{::group}}" tab="{{::tab}}"></detail>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
