<div class="chart-card mdl-card mdl-shadow--2dp" in-view="chartContainer.render($inview, $inviewpart)">
  <div class="chart-card-title">
    {{chartContainer.title}}
  </div>
  <hr class="chart-card-title-bottom-line">
  <div class="chart-card-tab">
    <div ng-repeat="tab in chartContainer.tabs">
      <div class="chart-card-tab-item" ng-click="chartContainer.onChartCardTabItemClicked(tab)" ng-class="{'chart-card-tab-item-active': chartContainer.isActiveTab(tab)}">
        {{tab}}
      </div>
    </div>
  </div>

  <div class="chart-card-body-container">
    <div class="chart-card-body">

      <div ng-repeat="(tab, dataSources) in chartContainer.tabDataSources" ng-class="{hide: !chartContainer.isActiveTab(tab, true)}">
        <div ng-repeat="(group, items) in dataSources" class="chart-card-grid" group="{{group}}" ng-class="{'no-border': $last}">
          <div class="chart-card-grid-row chart-row">
            <div ng-repeat="item in items" class="chart-grid-row-item">
              <chart dataSource="{{item}}"></chart>
            </div>
          </div>
          <div class="chart-card-grid-row table-row">
            <detail category="{{chartContainer.category}}" group="{{group}}"></detail>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
