.summary-table {
  width: 100%;
  background: #34343e;
  cursor: pointer;
  border-right: none;

  .summary-record {
    color: #fafafa;
    border-right: solid 1px grey;
    outline: none;

    &:hover {
      color: #34343e;
    }

    &-active {
      color: #34343e;
      background: white;
      border-right: solid 1px white;
    }
  }

  thead {
    background: #252530;
  }

  th {
    color: #fafafa;
  }

  .result-label {
    position: relative;
    top: 35%;
    transform: translateY(-50%);

    color: white;
    background-color: rgba(158,158,158, 0.20);
    height: 36px;
    min-width: 64px;
    padding: 0 8px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow,transform;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
  }

  .result-label-ng {
    background-color: #ff4081;
  }
}
