<div class="chart-card mdl-card mdl-shadow--2dp">

  <div ng-repeat="dataSource in chart.dataSources">
    <div fusioncharts
       class="chart"
       width="600" 
       height="400"
       type={{chart.type}}
       dataformat={{chart.dataFormat}}
       datasource="{{dataSource}}"
       >
    </div>
  </div>

  <div class="mdl-card__actions mdl-card--border">
    <a class="detail-button mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      <button class="mdl-button mdl-js-button mdl-button--primary">
        Detail
      </button>
    </a>
  </div>
</div>
