<div class="chart">
  <fusioncharts
     id="{{chart.id}}"
     class="fs-chart"
     ng-class="{'fs-chart-show': chart.visible}"
     in-view="chart.render($inview, $inviewpart)"
     width="600" 
     height="400"
     type={{chart.dataSource.type}}
     dataformat={{chart.dataFormat}}
     datasource={{chart.dataSource}}
     events="chart.events"
     >
  </fusioncharts>
  <div
     class="fs-chart fs-chart-svg-container"
     ng-class="{'fs-chart-show': chart.visible}"
     width="600"
     heiht="400"
   ></div>
</chart>
