chart {
  display: inline-block;
  height: auto;
}

fusioncharts {
  display: inline-block;
}

.fs-chart {
  opacity: 0;
  transition: all 0.3s;
  display: inline-block;

  &-show {
    opacity: 1;
  }
}

.chart {
  text-align: center;
  background-image: url('/assets/images/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
  margin: 20px;
  width: 600px;
  float: left;
}
