.chart {
  text-align: center;
  margin: 20px;
}

.chart-card {
  width: 100%;
  margin-bottom: 5px;
  .mdl-card__actions {
    text-align: center;
  }

  .chart-card-title {
    text-align: center;
    font-family: 'Helvetica Neue', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro';
    font-size: 20px;
    line-height: normal;
    padding: 10px;
    color: #424242;
    background-color: #fafafa;
  }

  .chart-card-title-bottom-line {
    margin: 0px;
  }
}

.detail-button {
  padding-left: 0px;
  padding-right: 0px;
  border: solid 1px #e0e0e0;

  &:hover {
    background: #e0e0e0;
  }

  .mdl-button {
    color:rgb(0,150,136) !important;

    &:focus:not(:active) {
      background: transparent !important;
    }

    &:hover {
      background: transparent;
    }
  }
}
