.chart {
  text-align: center;
  margin: 20px;
}

.chart-card {
  width: 100%;
  margin-bottom: 5px;
  .mdl-card__actions {
    text-align: center;
  }
}

.detail-button {
  padding-left: 0px;
  padding-right: 0px;
}
