<a class="mdl-navigation__link" href="#" ng-click="exporter.onClick()">Export</a>
<div ng-show="exporter.isRendering || exporter.isExporting">
  <div class="overlay"></div>
  <div class="rendering-progress-wrapper" ng-class="{show: exporter.isRendering}">
    <div class="rendering-progress-text-wrapper ng-cloak">
      <p class="rendering-progress-text">{{exporter.progressText}}</p>
    </div>
    <div
       round-progress
       class="rendering-progress"
       max="exporter.renderTargetNum"
       current="exporter.renderCompletedNum"
       color="#45ccce"
       bgcolor="#eaeaea"
       radius="150"
       stroke="30"
       semi="false"
       rounded="false"
       clockwise="clockwise"
       responsive="responsive"
       duration="800"
       animation="easeOutCubic"
       animation-delay="0">
    </div>
  </div>
  
  <a class='export-link' target='_self' ng-class="{show: exporter.isExporting}" href="{{exporter.exportURL}}" download='log.zip' ng-click="exporter.onDownloadButtonClicked()"><p class='export-link-text'>Download Zip</p></a>
</div>
