.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}

.rendering-progress {
  text-align: center;
}

.rendering-progress-wrapper {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
  opacity: 0;
  transition: opacity 0.5s;
}

.rendering-progress-text-wrapper {
  position: absolute;
  width: 300px;
  height: 300px;
  text-align: center;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rendering-progress-text {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  font-size: 34px;
  color: #bbb;
  transition: color 0.5s;

  &-complete {
    color: #009688;
  }
}

.export-link {
  opacity: 0;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  text-decoration: none;
  width: 400px;
  height: 50px;
  overflow: visible;
  transition: opacity 0.5s;

  &-text {
    font-size: 34px;
    color: #bbb;
    transition: color 0.5s;

    &:hover {
      color: white;
    }
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.disable {
  cursor: default;
  color: #666 !important;
}
