<div class="chart-tabs-container">
  <div class="chart-tabs">
    <a id="network-tab" href="#" class="chart-tab mdl-button mdl-js-button mdl-button--primary" ng-click="chartTab.scrollTo('network')" ng-class="chartTab.getClass('network')">Network</a>
    <a id="io-tab" href="#" class="chart-tab mdl-button mdl-js-button mdl-button--primary" ng-click="chartTab.scrollTo('io')" ng-class="chartTab.getClass('io')">I/O</a>
    <a id="memory-tab" href="#" class="chart-tab mdl-button mdl-js-button mdl-button--primary" ng-click="chartTab.scrollTo('memory')" ng-class="chartTab.getClass('memory')">Memory</a>
    <a id="task-tab" href="#" class="chart-tab mdl-button mdl-js-button mdl-button--primary" ng-click="chartTab.scrollTo('task')" ng-class="chartTab.getClass('task')">Task</a>
  </div>
</div>

<div class="chart-container">
  <chart id="network"></chart>
  <chart id="io"></chart>
  <chart id="memory"></chart>
  <chart id="task"></chart>
</div>

<div class="chart-tab-footer chart-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__actions mdl-card--border">
  </div>
</div>
