<div class="chart-tabs-container">
  <div class="chart-tabs" ng-class="{'full-width': chartTab.appStatus.isFullScreenMode}">
    <a ng-repeat="category in chartTab.categories"
       id="{{category.id}}-tab"
       href="#"
       class="chart-tab mdl-button mdl-js-button mdl-button--primary"
       ng-click="chartTab.scrollTo($index)"
       ng-class="chartTab.getClass($index)">{{category.name}}</a>
  </div>
</div>

<div class="chart-container">
  <chart-container ng-repeat="category in chartTab.categories"
  id="{{category.id}}"
  title="{{category.name}}"
  category="{{category.id}}"
  active="{{chartTab.isActive($index)}}"
  tabFixed="{{chartTab.cardTabFixed}}"
  dataId="{{chartTab.dataId}}"
  ></chart-container>
</div>

<div class="chart-tab-footer chart-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__actions mdl-card--border">
  </div>
</div>
