<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#network" class="mdl-tabs__tab is-active">Network</a>
    <a href="#io" class="mdl-tabs__tab">I/O</a>
    <a href="#memory" class="mdl-tabs__tab">Memory</a>
    <a href="#task" class="mdl-tabs__tab">Task</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="network">
    <chart></chart>
  </div>
  <div class="mdl-tabs__panel" id="io">
    <chart></chart>
  </div>
  <div class="mdl-tabs__panel" id="memory">
    <chart></chart>
  </div>
  <div class="mdl-tabs__panel" id="task">
    <chart></chart>
  </div>
</div>
