.detail-table {
  margin: 40px;
  margin-top: 0px;
  width: 90%;
}

.detail-table-title {
  text-align: center;
  font-family: 'Helvetica Neue', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro';
  font-size: 20px;
  line-height: normal;
  padding: 10px;
  color: #424242;
}

.detail-table-header {
  text-align: center !important;
  background-color: #fafafa;
  border-top: 1px solid rgba(0,0,0,.12);
}

.detail-table-col, .detail-table-header {
  border-right: 1px solid rgba(0,0,0,.12);
}

.detail-table-col {
  padding-top: 0px !important;
  vertical-align: middle !important;

  &-bad {
    color: #ff4081;
    font-weight: bold;
  }

  &-good {
    color: rgb(9, 162, 116);
    font-weight: bold;
  }
}

.lmbench-ave-col {
  border-left: 2px solid #929292;
}
