.detail-table {
  margin-right : auto;
  margin-left : auto;
  width: 90%;
}

.detail-table-title {
  text-align: center;
  font-family: 'Helvetica Neue', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro';
  font-size: 20px;
  line-height: normal;
  padding: 10px;
  color: #424242;
}

.detail-table-header {
  text-align: center !important;
  background-color: #fafafa;
}

.detail-table-col, .detail-table-header {
  border-right: 1px solid rgba(0,0,0,.12);
}
